body {
    background-color: #170f1b;
    color: white;
    font-family: "Exo 2";
}

.bold {
    font-weight: 700;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

article {
    width: 500px;
}

#bg {
    background-image: url("/img/aldebg.png");
    background-size: 100%;
    display: block;
}

#header {
    display: flex;
    flex-direction: row;
    font-size: x-large;
    line-height: 70px;
    padding: 20px;
}

#header img {
    border-radius: 50%;
    margin-right: 20px;
    width: 70px;
}

#appxuser {
    display: flex;
    flex-direction: row;
    padding: 0 20px 20px 20px;
    text-align: center;
}

#app, #user {
    display: flex;
    flex-direction: column;
    width: 50%;
}

#app span, #user span {
    margin: 10px;
    text-align: center;
}

#appxuser img {
    border-radius: 50%;
    width: 100px;
}

#title {
    margin-right: 10px;
}

#glow {
    color: grey;
}

#important {
    background-color: #2f1f37;
    display: block;
    padding: 20px;
}

#appname {
    font-weight: 700;
}

#able .point {
    color: green;
}

#notable .point {
    color: red;
}

#buttons {
    display: flex;
    flex-direction: row;
}

#buttons a {
    color: white;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

#buttons span {
    display: block;
}

#authorize {
    background-color: #006600;
}

#refuse {
    background-color: #990000;
}