{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["@typescript-eslint"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2017,
        "project": "./tsconfig.json"
    },
    "env": {
        "es6": true
    },
    "rules": {
        "@typescript-eslint/no-empty-function": ["error", { "allow": ["arrowFunctions"] }],
        "indent": ["warn", "tab", { "SwitchCase": 1 }],
        "max-len": ["warn", {
            "code": 80,
            "tabWidth": 1,
            "ignoreStrings": true,
            "ignoreComments": true,
            "ignoreTemplateLiterals": true,
            "ignoreRegExpLiterals": true
        }],
        "no-empty": ["error", { "allowEmptyCatch": true }],
        "no-tabs": ["error", { "allowIndentationTabs": true }]
    }
}